<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:8090/{R:1}" />
                </rule>
                <rule name="ssl test" enabled="true" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="HTTP" pattern=".*" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://tess-coquilhat.fr" />
                </rule>
            
                <rule name="ReverseProxyInboundRule2" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3211/{R:1}" />
                </rule>
              
            </rules>
            <outboundRules>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
