<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="ReverseProxyInboundRule1" />
                <remove name="Test règle http vers https" />
                <remove name="testa" />
                <remove name="testtt" />
                <remove name="ReverseProxyInboundRule2" />
                <remove name="ssl test" />
                <rule name="Test règle http vers https" enabled="false">
                    <match url="ok" />
                    <conditions>
                        <add input="{HTTPS} = Off" pattern="condition" />
                    </conditions>
                    <serverVariables />
                    <action type="Rewrite" url="https://tess-coquilhat.fr" />
                </rule>
                <rule name="ReverseProxyInboundRule1" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions />
                    <serverVariables />
                    <action type="Rewrite" url="http://localhost:8090/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
