<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="testa" />
                <rule name="testa">
                    <match url="/api" />
                    <conditions>
                        <add input="{HTTPS}" pattern="https://141.94.31.123:3000/api/getAllImagesUrl/24" />
                        <add input="https://141.94.31.123:3000/api/getAllImagesUrl/24" pattern="https://tess-coquilhat.fr/" />
                    </conditions>
                    <serverVariables />
                    <action type="Rewrite" url="https://tess-coquilhat.fr" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
